.window_bg_dark_color {
  background-color: #242424;
}

.card_bg_dark_color {
  background-color: rgba(255, 255, 255, 0.08);
}

.card_fg_dark_color {
  color: #ffffff;
}

.overlay-drag-area-on-enter {
  background-color: alpha(var(--accent-color), 0.35);
}

.overlay-drag-area {
  box-shadow: none;
  margin: 6px 12px 12px 12px;
  border-radius: 12px;
  transition-duration: 0.5s;
}
